//- base.pug is a kind of template to be used for home,contacts sections,etc.
doctype html
html
  head
    title Krnku's Dance Accademy
    block scripts
    block style 
     
  body
    nav#navbar 
        ul 
            div#logo
              img(src="/static/img/logo.jpg" )  
              | KDA
            li #[a(href="/") Home ]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/contact") Contact Us]

            
    block content
    footer#footer
            |Copyright  © 2022 KrnkuDanceAccademy.com |All rights reserved 
